<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<h1>로그인</h1>
<div th:if="${param.registered}" class="success">
  회원가입이 완료되었습니다. 로그인 해주세요.
</div>
<div th:if="${error}" class="error" th:text="${error}"></div>
<form th:action="@{/login}" th:object="${loginDto}" method="post" class="form-container">
    <p>
        <label>
            ID:
            <input type="text" th:field="*{username}" />
        </label>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </p>
    <p>
        <label>
            비밀번호:
            <input type="password" th:field="*{password}" />
        </label>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </p>
    <button type="submit">가입하기</button>
    <a th:href="@{/signup}" class="cancel">회원가입</a>
</form>
</body>
</html>